.main-eria {
  display: flex;
}

.game-container {
  position: relative;
  width: 80%;
  height: 98vh;
  overflow: hidden;
  background-color: cornsilk;
  border: solid black 2px;
  border-radius: 16px;
  margin-right: 3px;
}

.score-container {
  width: 20%;
  border: black solid 2px;
  border-radius: 16px;
  background-color: cornsilk;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.oval {
  height: 50px;
  width: 100px;
  background-color: #555;
  border-radius: 50%;
}

.square {
  height: 50px;
  width: 50px;
  background-color: #555;
}

.rectangle {
  height: 50px;
  width: 100px;
  background-color: #555;
}

.circle {
  height: 50px;
  width: 50px;
  background-color: #555;
  border-radius: 50%;
}

button {
  height: 45px;
  margin-bottom: 16px;
  width: 90%;
  border: solid black 2px;
  border-radius: 16px;
  font-size: larger;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#start-btn {
  background-color: green;
}

#stop-btn {
  background-color: crimson;
}

.scorebord {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
