@keyframes fall {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(100vh);
  }
}

.shape {
  position: absolute;
  animation: fall 1s linear forwards;
  will-change: transform;
}



.rectangle {
  height: 50px;
  width: 100px;
  background-color: #555;
}

.oval {
  height: 50px;
  width: 100px;
  background-color: #555;
  border-radius: 50%;
}

.circle {
  height: 50px;
  width: 50px;
  background-color: #555;
  border-radius: 50%;
}

.square {
  height: 50px;
  width: 50px;
  background-color: #555;
}

.triangle-up {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid #555;
}

.triangle-down {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 50px solid #555;
}

body {
  display: flex;
}

html {
  background-color: darkgoldenrod;
}

.main {
  display: flex;
  justify-content: center;

}

#game-container {
  position: relative;
  overflow: hidden;
  background-color: rgb(252, 255, 216);
  ;
  height: 98vh;
  width: 80%;
  border: 8px black solid;
  border-radius: 8px;
}

.info {
  background-color: rgb(252, 255, 216);
  height: 98vh;
  width: 20%;
  border: 8px black solid;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-left: 6px;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stylebtn {
  width: 180px;
  height: 50px;
  border-radius: 8px;
  margin-top: 8px;
}

#start-btn {
  height: 100px;
  background-color: green;
  color: aliceblue;
  font-size: large;
}

#start-btn:hover {
  border: 2px solid black;
  height: 110px;
  width: 190px;
}

#stop-btn {
  background-color: red;
  color: aliceblue;
  font-size: large;
}

#stop-btn:hover {
  border: 2px solid black;
  height: 55px;
  width: 190px;
}

.score-mis {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2,
p {
  font-size: xx-large;
  font-weight: 400;
}

p {
  border-bottom: solid;
}

.pop-up {
  position: absolute;
  top: 300px;
  left: auto;
  background-color: rgb(249, 255, 181);
  height: 300px;
  width: 500px;
  display: none;
  text-align: center;
  flex-direction: column;
  padding-bottom: 10px;
  z-index: 100;
  border: 8px solid black;
  border-radius: 8px;
}

#pop-upbtn {
  border-radius: 0px 0px 0cqh 8px;
  background-color: red;
  color: aliceblue;
  width: 50%;
  margin-left: 120px;
  border: solid black 2px;
  cursor: pointer;
  height: 42px;
  font-size: larger;
  position: absolute;
  top: 0;
  right: 0px;
  width: fit-content;
}