<div class="main">
    <div id="game-container">

    </div>

    <section class="info">

        <div class="score-mis">
            <h2>امتیاز</h2>
            <p>{{score}}</p>
            <h2>خطا</h2>
            <p>{{mistake}}</p>
            <h2>سرعت</h2>
            <p>{{speed}}</p>
        </div>
        <div class="buttons">
            <button id="start-btn" (click)="StartGame()">شروع</button>
            <button id="stop-btn" (click)="EndGame()">پایان</button>
        </div>
    </section>
</div>

